@use "../../assets/scss/variables" as *;

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;

  &--show {
    animation: fadeInOut 4s ease-in-out forwards;
  }

  .modal__content {
    display: grid;
    place-items: center;

    width: fit-content;
    background: $colour-gradient-linear-grey;
    box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.5);

    padding: 1rem;
    margin: auto;
    border-radius: 1rem;

    &__title {
      text-align: center;
    }

    &__main {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      &__text {
        font-size: 10rem;
      }
    }
  }
}
