@use "../../assets/scss/variables" as *;

.lift-status {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__box {
    padding: 0.5rem 0.75rem;
    height: 100%;
    text-align: center;

    &--green {
      background: $colour-gradient-linear-green;
      width: 3rem;
    }

    &--blue {
      background: $colour-gradient-linear-blue;
      width: 100%;
    }

    &--order {
      display: flex;
      justify-content: space-evenly;
    }

    &__floor {
      font-weight: $font-weight-medium;

      &--current {
        color: $colour-yellow;
        font-weight: $font-weight-bold;
      }
    }
  }
}
