@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $font-primary;
  font-weight: $font-weight-regular;
  font-size: $font-size-regular;
  line-height: $line-height;

  color: $colour-white;

  @media (min-width: $breakpoint-mobile) {
    font-size: $font-size-large;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $colour-gradient-linear-blue;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
