// Font family
$font-primary: "Inter", sans-serif;

// Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// Font sizes
$font-size-small: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-extra-large: 2rem;
$font-size-extra-extra-large: 3rem;

// Line Height
$line-height: 1.5;
