// Font family
$font-primary: "Inter", sans-serif;

// Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// Line Height
$line-height: 1.5;
