@use "../../assets/scss/variables" as *;

.destination-tracker {
  background-color: $colour-grey-dark;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;

  .item {
    display: flex;

    &__box {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      align-items: center;

      &--floor {
        max-width: 3rem;
        background: $colour-gradient-linear-green;
        justify-content: center;
      }

      &--lifts {
        background: $colour-gradient-linear-blue;
        justify-content: flex-start;
      }
    }
  }
}
